<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 自定义数据库操作	-->
<mapper namespace="com.kimi.stockanalysis.dao.StockInfoDao">
	<select id="fuzzySearchByCodeOrName" resultType="com.kimi.stockanalysis.entity.StockInfo">
		SELECT <include refid="columnMap"></include>
		FROM stock_info
		WHERE code like CONCAT('%',#{keyword},'%') OR name like CONCAT('%',#{keyword},'%')
		LIMIT #{index}, #{pageSize};
	</select>
</mapper>

