<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 数据库基本操作 -->
<mapper namespace="cn.orditech.stockanalysis.dao.DailyTradeDetailDao">
    <sql id="columnMap">
        	code as code,
        	date as date,
        	last_end_price as lastEndPrice,
        	start_price as startPrice,
        	max_price as maxPrice,
        	min_price as minPrice,
        	end_price as endPrice,
        	trade_volume as tradeVolume,
        	trade_amt as tradeAmt,
        	market_value as marketValue,
        	sc as sc
	</sql>

    <insert id="insert" parameterType="cn.orditech.stockanalysis.entity.DailyTradeDetail">
        INSERT INTO `daily_trade_detail` (
        	code ,
        	date ,
        	last_end_price ,
        	start_price ,
        	max_price ,
        	min_price ,
        	end_price ,
        	trade_volume ,
        	trade_amt,
        	market_value,
        	sc
        ) VALUES (
        	#{code} ,
        	#{date} ,
        	#{lastEndPrice} ,
        	#{startPrice} ,
        	#{maxPrice} ,
        	#{minPrice} ,
        	#{endPrice} ,
        	#{tradeVolume} ,
        	#{tradeAmt},
        	#{marketValue},
        	#{sc}
        )
    </insert>

    <delete id="delete">
        DELETE FROM `daily_trade_detail`
        WHERE
	        code = #{code}  And 
	        date = #{date} 
	</delete>

    <update id="update" parameterType="cn.orditech.stockanalysis.entity.DailyTradeDetail">
        UPDATE `daily_trade_detail` 
		SET
	        last_end_price = #{lastEndPrice} ,
	        start_price = #{startPrice} ,
	        max_price = #{maxPrice} ,
	        min_price = #{minPrice} ,
	        end_price = #{endPrice} ,
	        trade_volume = #{tradeVolume} ,
	        trade_amt = #{tradeAmt},
	        market_value = #{marketValue},
	        sc = #{sc}
        WHERE
	        code = #{code}  And 
	        date = #{date} 
    </update>

    <update id="updateSelective" parameterType="cn.orditech.stockanalysis.entity.DailyTradeDetail">
        UPDATE `daily_trade_detail`
        SET
        code = #{code} ,
        date = #{date}
        <if test="lastEndPrice!=null">,last_end_price = #{lastEndPrice}</if>
        <if test="startPrice!=null">,start_price = #{startPrice}</if>
        <if test="maxPrice!=null">,max_price = #{maxPrice}</if>
        <if test="minPrice!=null">,min_price = #{minPrice}</if>
        <if test="endPrice!=null">,end_price = #{endPrice}</if>
        <if test="tradeVolume!=null">,trade_volume = #{tradeVolume}</if>
        <if test="tradeAmt!=null">,trade_amt = #{tradeAmt}</if>
        <if test="marketValue!=null">,market_value = #{marketValue}</if>
        <if test="sc!=null">,sc = #{sc}</if>
        WHERE
        code = #{code} And
        date = #{date}
    </update>

    <select id="selectOne" resultType="cn.orditech.stockanalysis.entity.DailyTradeDetail">
        SELECT
        <include refid="columnMap"></include>
        FROM `daily_trade_detail`
        WHERE
        code = #{code} And
        date = #{date}
    </select>

    <select id="selectList" resultType="cn.orditech.stockanalysis.entity.DailyTradeDetail">
        SELECT
        <include refid="columnMap"></include>
        FROM `daily_trade_detail`
        WHERE 1=1
        <if test="code!=null"> AND code = #{code}</if>
        <if test="date!=null"> AND date = #{date}</if>
        <if test="lastEndPrice!=null"> AND last_end_price = #{lastEndPrice}</if>
        <if test="startPrice!=null"> AND start_price = #{startPrice}</if>
        <if test="maxPrice!=null"> AND max_price = #{maxPrice}</if>
        <if test="minPrice!=null"> AND min_price = #{minPrice}</if>
        <if test="endPrice!=null"> AND end_price = #{endPrice}</if>
        <if test="tradeVolume!=null"> AND trade_volume = #{tradeVolume}</if>
        <if test="tradeAmt!=null"> AND trade_amt = #{tradeAmt}</if>
        <if test="marketValue!=null"> AND market_value = #{marketValue}</if>
        <if test="sc!=null">AND sc = #{sc}</if>
    </select>
</mapper>

