<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 数据库基本操作 -->
<mapper namespace="cn.orditech.stockanalysis.dao.StockInfoDao">
	<sql id="columnMap">
        	code as code,
        	type as type,
        	name as name,
        	sc as sc,
        	price as price
	</sql>

    <insert id="insert" parameterType="cn.orditech.stockanalysis.entity.StockInfo">
        INSERT INTO `stock_info` (
        	code ,
        	type ,
        	name ,
        	sc ,
        	price
        ) VALUES (
        	#{code} ,
        	#{type} ,
        	#{name} ,
        	#{sc} ,
        	#{price}
        )
    </insert>

	<delete id="delete">
        DELETE FROM `stock_info`
        WHERE
	        code = #{code} 
	</delete>

	<update id="update" parameterType="cn.orditech.stockanalysis.entity.StockInfo">
        UPDATE `stock_info` 
		SET
	        type = #{type} ,
	        name = #{name} ,
	        sc = #{sc} ,
	        price = #{price}
        WHERE
	        code = #{code} 
    </update>

    <update id="updateSelective" parameterType="cn.orditech.stockanalysis.entity.StockInfo">
        UPDATE `stock_info`
		SET
	        code = #{code}
			<if test="type!=null" >,type = #{type}</if>
			<if test="name!=null" >,name = #{name}</if>
			<if test="sc!=null" >,sc = #{sc}</if>
			<if test="price!=null" >,price = #{price}</if>
        WHERE
	        code = #{code}
    </update>

    <select id="selectOne" resultType="cn.orditech.stockanalysis.entity.StockInfo">
        SELECT <include refid="columnMap"></include>
		FROM `stock_info`
        WHERE
	        code = #{code}
    </select>

    <select id="selectList" resultType="cn.orditech.stockanalysis.entity.StockInfo">
        SELECT <include refid="columnMap"></include>
		FROM `stock_info`
        WHERE 1=1
	        <if test="code!=null" > AND code = #{code}</if>
	        <if test="type!=null" > AND type = #{type}</if>
	        <if test="name!=null" > AND name = #{name}</if>
	        <if test="sc!=null" > AND sc = #{sc}</if>
	        <if test="price!=null" > AND price = #{price}</if>
    </select>
</mapper>

