<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 自定义数据库操作	-->
<mapper namespace="cn.orditech.stockanalysis.dao.DailyTradeDetailDao">
    <select id="selectListByDateDesc" resultType="cn.orditech.stockanalysis.entity.DailyTradeDetail">
        SELECT <include refid="columnMap"></include>
		FROM `daily_trade_detail`
        WHERE code = #{code}
        ORDER BY `date` DESC
        <choose>
	        <when test="dayCount!=null">LIMIT #{dayCount}</when>
	        <otherwise>LIMIT 60</otherwise><!-- 默认选取近60天的交易记录 -->
        </choose>
    </select>
    
    <update id="udpateMarketValue" parameterType="java.util.HashMap">
        UPDATE `daily_trade_detail`
        SET market_value = #{marketValue}<if test="sc!=null">,sc = #{sc}</if>
        WHERE `code` = #{code} AND `date` = #{date}
    </update>
</mapper>

