<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 自定义数据库操作	-->
<mapper namespace="cn.orditech.stockanalysis.dao.FinancailStatementDao">
	<select id="selectListByQuarterDesc" resultType="cn.orditech.stockanalysis.entity.FinancailStatement">
		SELECT <include refid="columnMap"></include>
		FROM `financail_statement`
		WHERE code=#{code}
		ORDER BY `date` DESC
		<if test="quarterCount!=null">LIMIT #{quarterCount}</if>
	</select>
</mapper>

